In [48]:
import numpy as np
import pandas as pd
import keras

# Importing Data

In [49]:
BBB_Train = pd.read_csv("BBB_LSTM_Input_Train.csv", index_col=0)
DDD_Train = pd.read_csv("DDD_LSTM_Input_Train.csv", index_col=0)
FFF_Train = pd.read_csv("FFF_LSTM_Input_Train.csv", index_col=0)

BBB_Test = pd.read_csv("BBB_LSTM_Input_Test.csv", index_col=0)
DDD_Test = pd.read_csv("DDD_LSTM_Input_Test.csv", index_col=0)
FFF_Test = pd.read_csv("FFF_LSTM_Input_Test.csv", index_col=0)

# Transforming Data

In [50]:
BBB_Train_df = BBB_Train.iloc[:,3:6]
DDD_Train_df = DDD_Train.iloc[:,3:6]
FFF_Train_df = FFF_Train.iloc[:,3:6]

BBB_Test_df = BBB_Test.iloc[:,3:6]
DDD_Test_df = DDD_Test.iloc[:,3:6]
FFF_Test_df = FFF_Test.iloc[:,3:6]

In [51]:
BBB_Train_Targets = BBB_Train["final_result"][0::11]
DDD_Train_Targets = DDD_Train["final_result"][0::11]
FFF_Train_Targets = FFF_Train["final_result"][0::11]

BBB_Test_Targets = BBB_Test["final_result"][0::11]
DDD_Test_Targets = DDD_Test["final_result"][0::11]
FFF_Test_Targets = FFF_Test["final_result"][0::11]

In [52]:
FFF_Train_Targets.head(n=20)

0             Fail
11            Pass
22            Fail
33     Distinction
44            Pass
55            Pass
66            Fail
77            Pass
88            Fail
99            Pass
110           Pass
121           Pass
132           Pass
143           Pass
154           Pass
165           Pass
176           Pass
187           Fail
198           Fail
209           Pass
Name: final_result, dtype: object

In [53]:
FFF_Train_df.head(n=20)

    Decile  Avg_Clicks  Asgmts  Avg_Asgmt_Score
0        0    2.159091       0         0.000000
1        1   23.260870       1        70.000000
2        2    0.708333       0        70.000000
3        3    0.708333       0        70.000000
4        4    6.958333       0        70.000000
5        5    1.208333       1        49.000000
6        6    0.000000       0        49.000000
7        7    0.000000       0        49.000000
8        8    0.000000       0        49.000000
9        9    0.000000       0        49.000000
10      10    0.000000       0        49.000000
11       0    6.196262       0         0.000000
12       1   34.086957       1        88.000000
13       2   22.625000       2        88.666667
14       3   20.208333       1        88.000000
15       4   29.416667       2        88.666667
16       5   19.583333       0        88.666667
17       6   26.708333       2        87.875000
18       7   12.791667       0        87.875000
19       8   13.666667       2        87.800000

In [54]:
FFF_AUX_Train.head(n=20)

,num_of_prev_attempts,studied_credits,gender_M,gender_F,highest_education_A Level or Equivalent,highest_education_Lower Than A Level,highest_education_HE Qualification,highest_education_No Formal quals,highest_education_Post Graduate Qualification,imd_band_20-30%,...,imd_band_0-10%,age_band_35-55,age_band_0-35,age_band_55<=,disability_N,disability_Y,year_2013,year_2014,semester_B,semester_J
1,0,120,1,0,1,0,0,0,0,1,...,0,1,0,0,1,0,1,0,1,0
2,0,60,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
3,0,60,1,0,0,1,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
4,0,60,0,1,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
5,0,60,0,1,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
6,1,60,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
7,1,150,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
8,0,90,1,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
9,1,310,1,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
10,1,150,1,0,0,0,1,0,0,0,...,0,0,1,0,1,0,1,0,1,0
11,1,60,1,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
12,0,60,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
13,0,60,1,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
14,0,60,1,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
15,0,60,1,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
16,0,60,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
17,0,60,1,0,1,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
18,1,120,1,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
19,0,60,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
20,0,60,0,1,0,1,0,0,0,1,...,0,1,0,0,1,0,1,0,1,0

Number of students in the courses across all 4 semesters

In [56]:
print("BBB Train\n")
print(BBB_Train_df.count()/11,"\n")

print("DDD Train\n")
print(DDD_Train_df.count()/11,"\n")

print("FFF Train\n")
print(FFF_Train_df.count()/11,"\n")

print("BBB Test\n")
print(BBB_Test_df.count()/11,"\n")

print("DDD Test\n")
print(DDD_Test_df.count()/11,"\n")

print("FFF Test\n")
print(FFF_Test_df.count()/11,"\n")

BBB Train

Decile             3978.0
Avg_Clicks         3978.0
Asgmts             3978.0
Avg_Asgmt_Score    3978.0
dtype: float64

DDD Train

Decile             2866.0
Avg_Clicks         2866.0
Asgmts             2866.0
Avg_Asgmt_Score    2866.0
dtype: float64

FFF Train

Decile             3849.0
Avg_Clicks         3849.0
Asgmts             3849.0
Avg_Asgmt_Score    3849.0
dtype: float64

BBB Test

Decile             1543.0
Avg_Clicks         1543.0
Asgmts             1543.0
Avg_Asgmt_Score    1543.0
dtype: float64

DDD Test

Decile             1156.0
Avg_Clicks         1156.0
Asgmts             1156.0
Avg_Asgmt_Score    1156.0
dtype: float64

FFF Test

Decile             1510.0
Avg_Clicks         1510.0
Asgmts             1510.0
Avg_Asgmt_Score    1510.0
dtype: float64

Convert dataframes into 2D arrays

In [57]:
BBB_Train_2D = BBB_Train_df.values
DDD_Train_2D = DDD_Train_df.values
FFF_Train_2D = FFF_Train_df.values

BBB_Test_2D = BBB_Test_df.values
DDD_Test_2D = DDD_Test_df.values
FFF_Test_2D = FFF_Test_df.values

Reshape 2D arrays to 3D arrays
Format : samples (students), timesteps (deciles), features (clicks & assignments)

In [58]:
BBB_Train_3D = BBB_Train_2D.reshape(int(BBB_Train_df["Avg_Clicks"].count()/11),11,len(BBB_Train_df.columns))
DDD_Train_3D = DDD_Train_2D.reshape(int(DDD_Train_df["Avg_Clicks"].count()/11),11,len(DDD_Train_df.columns))
FFF_Train_3D = FFF_Train_2D.reshape(int(FFF_Train_df["Avg_Clicks"].count()/11),11,len(FFF_Train_df.columns))

BBB_Test_3D = BBB_Test_2D.reshape(int(BBB_Test_df["Avg_Clicks"].count()/11),11,len(BBB_Test_df.columns))
DDD_Test_3D = DDD_Test_2D.reshape(int(DDD_Test_df["Avg_Clicks"].count()/11),11,len(DDD_Test_df.columns))
FFF_Test_3D = FFF_Test_2D.reshape(int(FFF_Test_df["Avg_Clicks"].count()/11),11,len(FFF_Test_df.columns))

In [60]:
print(FFF_Train_3D.shape)

(3849, 11, 4)

In [61]:
BBB_Train_Targets_1HE = np.array(pd.get_dummies(BBB_Train_Targets))
DDD_Train_Targets_1HE = np.array(pd.get_dummies(DDD_Train_Targets))
FFF_Train_Targets_1HE = np.array(pd.get_dummies(FFF_Train_Targets))

BBB_Test_Targets_1HE = np.array(pd.get_dummies(BBB_Test_Targets))
DDD_Test_Targets_1HE = np.array(pd.get_dummies(DDD_Test_Targets))
FFF_Test_Targets_1HE = np.array(pd.get_dummies(FFF_Test_Targets))

In [62]:
BBB_Train_Targets_1D = np.array(BBB_Train_Targets)
DDD_Train_Targets_1D = np.array(DDD_Train_Targets)
FFF_Train_Targets_1D = np.array(FFF_Train_Targets)

BBB_Test_Targets_1D = np.array(BBB_Test_Targets)
DDD_Test_Targets_1D = np.array(DDD_Test_Targets)
FFF_Test_Targets_1D = np.array(FFF_Test_Targets)

In [63]:
BBB_Train_Targets_1D[BBB_Train_Targets_1D == "Fail"] = 1
BBB_Train_Targets_1D[BBB_Train_Targets_1D == "Pass"] = 2
BBB_Train_Targets_1D[BBB_Train_Targets_1D == "Distinction"] = 0

DDD_Train_Targets_1D[DDD_Train_Targets_1D == "Fail"] = 1
DDD_Train_Targets_1D[DDD_Train_Targets_1D == "Pass"] = 2
DDD_Train_Targets_1D[DDD_Train_Targets_1D == "Distinction"] = 0

FFF_Train_Targets_1D[FFF_Train_Targets_1D == "Fail"] = 1
FFF_Train_Targets_1D[FFF_Train_Targets_1D == "Pass"] = 2
FFF_Train_Targets_1D[FFF_Train_Targets_1D == "Distinction"] = 0

BBB_Test_Targets_1D[BBB_Test_Targets_1D == "Fail"] = 1
BBB_Test_Targets_1D[BBB_Test_Targets_1D == "Pass"] = 2
BBB_Test_Targets_1D[BBB_Test_Targets_1D == "Distinction"] = 0

DDD_Test_Targets_1D[DDD_Test_Targets_1D == "Fail"] = 1
DDD_Test_Targets_1D[DDD_Test_Targets_1D == "Pass"] = 2
DDD_Test_Targets_1D[DDD_Test_Targets_1D == "Distinction"] = 0

FFF_Test_Targets_1D[FFF_Test_Targets_1D == "Fail"] = 1
FFF_Test_Targets_1D[FFF_Test_Targets_1D == "Pass"] = 2
FFF_Test_Targets_1D[FFF_Test_Targets_1D == "Distinction"] = 0

In [64]:
BBB_Train_Targets_1D = BBB_Train_Targets_1D.astype('int64')
DDD_Train_Targets_1D = DDD_Train_Targets_1D.astype('int64')
FFF_Train_Targets_1D = FFF_Train_Targets_1D.astype('int64')

BBB_Test_Targets_1D = BBB_Test_Targets_1D.astype('int64')
DDD_Test_Targets_1D = DDD_Test_Targets_1D.astype('int64')
FFF_Test_Targets_1D = FFF_Test_Targets_1D.astype('int64')

In [66]:
print(FFF_Train_Targets_1D.shape)

(3849,)

# LSTM

In [102]:
from sklearn.metrics import classification_report
from keras import Sequential
from keras.layers import Input,Embedding, LSTM, Dense
from keras.models import Model
from keras.optimizers import SGD
np.random.seed(7)
np.set_printoptions(threshold=np.nan)

3978

In [79]:
model = Sequential()
model.add(LSTM(32, input_shape=(11,4) , activation='sigmoid'))
model.add(Dense(3, activation='sigmoid'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

NameError: name 'Input' is not defined

In [139]:
model = Model(inputs=[LSTM_input, auxiliary_input], outputs=main_output)
model.compile(optimizer='rmsprop', loss='categorical_crossentropy')

# LSTM Course BBB

### Train LSTM Course BBB

In [140]:
model.fit(x=[BBB_Train_3D,BBB_AUX_Train], y=BBB_Train_Targets_1HE, epochs=4, batch_size=1, verbose=1)

Epoch 1/4
3978/3978 [==============================] - 16s 4ms/step - loss: 0.9174
Epoch 2/4
3978/3978 [==============================] - 15s 4ms/step - loss: 0.8375
Epoch 3/4
3978/3978 [==============================] - 15s 4ms/step - loss: 0.8230
Epoch 4/4
3978/3978 [==============================] - 15s 4ms/step - loss: 0.8388

In [71]:
model.fit(x=BBB_Train_3D, y=BBB_Train_Targets_1HE, epochs=4, batch_size=1, verbose=1)

Epoch 1/4
3978/3978 [==============================] - 16s 4ms/step - loss: 0.7083 - acc: 0.6885
Epoch 2/4
3978/3978 [==============================] - 15s 4ms/step - loss: 0.5772 - acc: 0.7574
Epoch 3/4
3978/3978 [==============================] - 16s 4ms/step - loss: 0.5573 - acc: 0.7647
Epoch 4/4
3978/3978 [==============================] - 15s 4ms/step - loss: 0.5241 - acc: 0.7735

### Test LSTM Course BBB

In [141]:
model.predict_classes(BBB_Test_3D)

AttributeError: 'Model' object has no attribute 'predict_classes'

In [73]:
print('Course BBB - 3 Target Classes')
print('Classification Report for LSTM predictions:')
print('-------------------------------------------')
print(classification_report(y_pred=model.predict_classes(BBB_Test_3D), y_true=BBB_Test_Targets_1D))

Course BBB - 3 Target Classes
Classification Report for LSTM predictions:
-------------------------------------------
             precision    recall  f1-score   support

          0       0.00      0.00      0.00       180
          1       0.46      0.95      0.62       391
          2       0.75      0.56      0.64       972

avg / total       0.59      0.60      0.56      1543

C:\Users\Chris\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# LSTM Course DDD

### Train LSTM Course DDD

In [74]:
model.fit(DDD_Train_3D, DDD_Train_Targets_1HE, epochs=4, batch_size=1, verbose=1)

Epoch 1/4
2866/2866 [==============================] - 11s 4ms/step - loss: 0.4674 - acc: 0.7994
Epoch 2/4
2866/2866 [==============================] - 11s 4ms/step - loss: 0.4334 - acc: 0.8172
Epoch 3/4
2866/2866 [==============================] - 10s 4ms/step - loss: 0.4189 - acc: 0.8241
Epoch 4/4
2866/2866 [==============================] - 10s 4ms/step - loss: 0.4065 - acc: 0.8238

### Test LSTM Course DDD

In [75]:
model.predict_classes(DDD_Test_3D)

array([2, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1, 0, 2, 2, 2, 1, 2, 2, 1, 1, 2,
       1, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 0, 1, 2, 2, 2,
       2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       1, 2, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 0, 2, 1, 1, 2, 1, 2, 0, 1, 1,
       1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 0, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 1, 1, 2, 1, 2,
       2, 2, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2,
       2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2,
       1, 2, 2, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 2, 2,
       1, 1, 1, 2, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 0, 1,
       2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 0, 2,
       2, 2, 1, 1, 2, 2, 1, 0, 2, 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2,
       1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 1, 2,
       1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 2, 2, 2, 1, 2, 2, 1, 1, 0, 2, 2, 2, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2,
       2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 1, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1, 0, 2, 2, 2, 2, 1, 0,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2,
       2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 2, 2, 1, 2, 2, 0, 0, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 0, 1, 1, 2, 2, 2, 2, 1, 2,
       2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2,
       2, 2, 2, 2, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2,
       2, 1, 1, 2, 2, 1, 1, 2, 2, 1, 2, 1, 1, 2, 2, 2, 0, 2, 2, 1, 2, 2, 2,
       2, 1, 2, 2, 0, 2, 1, 2, 1, 1, 2, 1, 1, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 0,
       1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 1,
       2, 0, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1,
       2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 2,
       1, 2, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 0, 1, 2, 2, 0, 2, 1, 2, 1, 2, 1, 2, 0, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 0, 1, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 2, 2,
       2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2,
       1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2,
       2, 1, 2, 2, 1, 2], dtype=int64)

In [76]:
print('Course DDD - 3 Target Classes')
print('Classification Report for LSTM predictions:')
print('-------------------------------------------')
print(classification_report(y_pred=model.predict_classes(DDD_Test_3D), y_true=DDD_Test_Targets_1D))

Course DDD - 3 Target Classes
Classification Report for LSTM predictions:
-------------------------------------------
             precision    recall  f1-score   support

          0       0.73      0.20      0.31       112
          1       0.80      0.77      0.78       364
          2       0.78      0.89      0.83       680

avg / total       0.78      0.78      0.77      1156

# LSTM Course FFF

### Train LSTM Course FFF

In [77]:
model.fit(FFF_Train_3D, FFF_Train_Targets_1HE, epochs=4, batch_size=1, verbose=1)

Epoch 1/4
3849/3849 [==============================] - 14s 4ms/step - loss: 0.4201 - acc: 0.8210
Epoch 2/4
3849/3849 [==============================] - 14s 4ms/step - loss: 0.4037 - acc: 0.8231
Epoch 3/4
3849/3849 [==============================] - 15s 4ms/step - loss: 0.4019 - acc: 0.8272
Epoch 4/4
3849/3849 [==============================] - 15s 4ms/step - loss: 0.3942 - acc: 0.8257

### Test LSTM Course FFF

In [ ]:
model.predict_classes(FFF_Test_3D)

In [78]:
print('Course FFF - 3 Target Classes')
print('Classification Report for LSTM predictions:')
print('-------------------------------------------')
print(classification_report(y_pred=model.predict_classes(FFF_Test_3D), y_true=FFF_Test_Targets_1D))

Course FFF - 3 Target Classes
Classification Report for LSTM predictions:
-------------------------------------------
             precision    recall  f1-score   support

          0       0.76      0.57      0.65       258
          1       0.96      0.80      0.87       393
          2       0.81      0.93      0.87       859

avg / total       0.84      0.83      0.83      1510